*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
main{
    font-family: sans-serif;
    color: rgb(96, 92, 92);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 100vh;  
    font-family: "Open Sans", Arial, sans-serif;
}

header {
    color: black;
    font-weight: 400;
    font-size:30px;
     margin: 20px auto;
}
#title{

    margin: unset;
}
.gray{
    background-color: rgba(184, 175, 175, 0.225);
    border-radius: 5px;
    padding: 20px 15px;
    margin: 20px auto;
    font-size: small;
    font-family: monospace;
}

.gray p{
    padding:unset;
    margin: 5px;
}
@media (width>700px) {
    

.nav{
  
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    height: 100%;
    width: 300px;
    max-width: 500px;
    position: fixed;
    top: 0;
    left: 0;
    
}
.nav a,.nav header{
    text-decoration: none;
    color: black;
    border-top: 1px solid black;
    border-collapse:collapse;
    padding:14px;
    
    
}
.second{
    width: 80%;
   height: 100%;
   padding: 50px;
   display: block;
   margin-left: 310px;

}

}
p :not(.gray){
    font-family:"open Sans";
    font-size: 12px;
}
p {
    margin: 25px auto;
    padding: 10px;
}
ul {
    padding-left: 30px;
    
}
li{
    margin: 15px;
    
}

a{
    color: blue;
}
@media (width<700px) {
    .nav{
        margin: 0;
        display: flex;
        flex-direction: column;
        border: 2px solid black;
        height: 300px;
        width: 100%;
        max-width: 500px;
        overflow: scroll;
        top: 0;
        left: 0;
        
    }
    .nav a,.nav header{
        text-decoration: none;
        color: black;
        border-top: 1px solid black;
        border-collapse:collapse;
        padding:14px;
        
        
    }
    .nav header{
        text-align: center;
        width: 100%;
        padding: 20px;
        font-size: 30px;
        position: absolute;
        z-index: 1;
        border-bottom: 2px solid black;
        background-color: white;
    }
    .second{
        width: 80%;
       height: 100%;
       padding: 30px;
       display: block;
       align-items: center;
       margin: auto;
    
    }
    
    
}